
@{
    ViewData["Title"] = "MyForm";
}

<div><h1>Welcome to My Form</h1></div>

<div>Please provide the following:</div>

<form method="post" action="/MySite/ThankYou">
    First name: <input type="text" name="FirstName" /><br />
    Last name: <input type="text" name="LastName" /><br />
    Email: <input type="email" name="Email" /><br />
    <input type="submit" />
</form>

